:root {
    --white: #FFFFFF;
    --black: #000000;
    --so-white: #DFDFDF;
    --skyblue: #537895;
    --stealblue: #09203F;
    --astronavy: #002D62;
    --mightgreen: #003333;
    --gradient: linear-gradient(180deg, rgba(9,32,63,1) 00%, rgba(83,120,149,1) 100%);
    --gradient2: linear-gradient(176deg, rgba(13,148,39,1) 0%, rgba(0,51,15,1) 100%);
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

/* ----- sidenav ----- */
.sidenav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 0;
    height: 100%;
    background: url(../images/background-toggleMenu.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}

.wrap {
    margin: 0 auto;
}

.sidenav li {
    margin-bottom: 15px;
}

.sidenav a { 
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    color: var(--so-white);
}

.sidenav a:hover {
    color: var(--skyblue);
    text-shadow: 0 0 5px var(--stealblue);
}

/* ----- name-container ----- */
.name-container {
    position: fixed;
    top: 30px;
    left: 20px;
    font-family: 'Lobster', cursive;
    color: var(--so-white);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    /* mix-blend-mode: difference; */
}

.name-container:hover {
    color: var(--white);
    text-shadow: 0 0 5px var(--white);
}

/* ----- menu-container-toggle ----- */
.menu-container {
    position: fixed;
    width: 28px;
    height: 10px;
    top: 45px;
    left: calc(100% - 50px);
    z-index: 1;
}

.menu-toggle {
   width: 28px;
   height: 10px;
   top: 50px;
   left: 50px;   
   z-index: 1;
   user-select: none;
   cursor: pointer;
}

.menu-toggle .one, .two {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--so-white);
}

.menu-toggle .one {
    width: 75%;
    left: 7px;
}

.menu-toggle .two {
    top: 5px;
}

/* ----- header ----- */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 425px;
    background: var(--gradient);
}

header .background-img {
    position: relative;
    width: 100%;
    height: auto;
    background: url(../images/background-header.jpg);
    background-size: 100% 425px;
    background-repeat: no-repeat;
    opacity: .2;
}

header h1 {
    position: absolute;
    font-family: 'Comfortaa', cursive;
    align-self: center;
    color: var(--so-white);
    font-size: 3rem;
    font-weight: 500;
    transform: rotate(-25deg);
    letter-spacing: -1px;
    text-shadow: 
    0 0 5px #81D8D0,
    0 0 10px #1da1f2;
    filter: saturate(60%);
    /* animation: space-around 1.5s ease-out 0s alternate 2 none running; */
}

header h1 span {
    color: var(--black);
}

header p {
    position: absolute;
    top: 325px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    align-self: flex-end;
    font-size: 1.4rem;
    margin: 0 70px;
}

/* ----- section-help ----- */

.section-help-contact {
    position: relative;
    width: 100%;
    height: 600px;
    /* background: var(--white); */
}

.box-wave {
  position: relative;
  width: 550px;
  height: 600px;
  left: -450px;
}

.wave {
  position: absolute;
  opacity: 0.4;
  width: 550px;
  height: 600px;
  border-radius: 43%;
}

.wave.-one {
  animation: rotate 7000ms infinite linear;
  opacity: 0.5;
  background: var(--astronavy);
}

.wave.-two {
  animation: rotate 3000ms infinite linear;
  opacity: 0.2;
  background: var(--black);
}

.wave.-three {
  animation: rotate 7500ms infinite linear;
  background: var(--skyblue);
}

.help-contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 480px;
    top: 15%;
    left: 40%;
}

.help-button-work {
    position: absolute;
    top: -25px;
    left: calc(50% - 60px);
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    padding: 15px;
    font-size: 1.6rem;
    border-radius: 50px;
    border: 1px solid var(--mightgreen);
    background: var(--mightgreen);
}

.help-button-work:hover {
    color: var(--white);
    text-shadow: 0 0 5px var(--white);
}

.section-help-contact .selfie-contact {
    border-radius: 100px;
}

.section-help-contact h1 {
    font-size: 2.5rem;
    margin: 15px 0;
}

.section-help-contact p {
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 10px;
}

.section-help-contact .help-button-contact {
    width: 120px;
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    align-self: center;
    padding: 15px;
    font-size: 1.6rem;
    border-radius: 50px;
    border: 1px solid var(--mightgreen);
    background: var(--mightgreen);
}

.section-help-contact a:hover {
    color: var(--white);
    text-shadow: 0 0 5px var(--white);
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
