:root {
    --white: #FFFFFF;
    --black: #000000;
    --so-white: #DFDFDF;
    --skyblue: #80d0c7;
    --stealblue: #030d28;
    --astronavy: #002D62;
    --mightgreen: #003333;
    --gradient: linear-gradient(180deg, #13547a 0%, #80d0c7 100%);
    --gradient2: linear-gradient(180deg, #80d0c7 0%, #ff7376 100%);
    --gradient3: linear-gradient(180deg, #ff7376 0%, #030d28 70%);
    --gradient4: linear-gradient(180deg, #121010cc 0%, #121010cc 100%);
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* ----- PRELOADER ----- */
.preloader {
  align-items: center;
  background: #030d28;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: opacity 0.3s linear;
  flex-direction: column;
}

.preloader h1 {
  color: var(--so-white);
  font-size: 3rem;
}

.bounce {
  position: relative; 
}

.bounce:after, .bounce:before {
    content: '';
    align-self: center;
    height: 50px;
    width: 50px;
    display: block;
    border: 5px solid var(--so-white);
    border-radius: 100%;
    box-shadow: 0 -80px 0 -5px var(--white);
    position: absolute; 
    animation: out .5s backwards, spin 1.25s .5s infinite ease;
    margin: -50px 0px 0px -20px;
}

.bounce:after {
    animation-delay: 0s, 1.25s; 
}


/* ----- SIDENAV ----- */
.sidenav {
    position: fixed;
    width: 0;
    height: 100%;
    background: var(--stealblue);
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}

.wrapper-sidenav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-contact {
  display: none;
}

.nav-menu {
  justify-content: flex-end;
  text-align: end;
}

.sidenav a {
  font-size: 4rem;
  font-family: 'Comfortaa', cursive;
  color: var(--so-white);
}

.sidenav a:hover {
  color: var(--skyblue);
  text-shadow: 0 0 5px var(--stealblue);
}

.sidenav li {
  margin-bottom: 15px;
}


/* ----- NAME-CONTAINER ----- */
.name-container {
    position: fixed;
    top: 30px;
    left: 20px;
    font-family: 'Lobster', cursive;
    color: var(--so-white);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    mix-blend-mode: difference;
}

.name-container:hover {
    color: var(--white);
    text-shadow: 0 0 5px var(--white);

}

/* ----- MENU-CONTAINER-TOGGLE ----- */
.menu-container {
    position: fixed;
    width: 28px;
    height: 10px;
    top: 45px;
    left: calc(100% - 50px);
    z-index: 1;
    mix-blend-mode: difference;
}

.menu-toggle {
   width: 28px;
   height: 10px;
   top: 50px;
   left: 50px;
   z-index: 1;
   user-select: none;
   cursor: pointer;
}

.menu-toggle .one, .two {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--so-white);
}

.menu-toggle .one {
    width: 75%;
    left: 7px;
}

.menu-toggle .two {
    top: 5px;
}

/* ----- HEADER ----- */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: var(--gradient);
    /* animation: bg-pan-left 8s both; */
}

.presentation-container-header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 350px;
  top: 75px;
  background: var(--stealblue);
  max-width: 350px;
  border-radius: 10px;
}

.photo-container {
  position: absolute;
  max-height: 250px;
  max-width: 250px;
  min-height: 200px;
  min-width: 200px;
  width: 70%;
  height: auto;
  top: -35%;
}

.photo-container.-transform {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
}

.photo-container img {
  position: relative;
  width: 100%;
  border-radius: 100%;
  border: 7px solid var(--skyblue);
}

.logo-container {
  position: absolute;
  width: 25%;
  top: 20%;
  width: 80px;
  height: 80px;

}

.logo-container img {
  position: relative;
}

.description-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  top: 150px;
  width: 100%;
  height: 150px;
}

.description-container h1 {
    font-family: 'Comfortaa', cursive;
    color: var(--so-white);
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 25px auto;
}

.description-container p {
    font-weight: 500;
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    margin: 10px 30px;
}

/* ----- SECTION-SKILLS ----- */
.section-recent-skills {
  position: relative;
  width: 100%;
  height: 800px;
  background: var(--gradient2);
}

.section-recent-skills h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 1000;
}

.wrapper-skills {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.wrapper-list {
  max-width: 400px;
  margin: 5px;
}

.wrapper-list img {
  justify-self: center;
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.list-skills {
  color: var(--so-white);
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
  background: var(--stealblue);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--stealblue);
}

/* ----- SECTION-HELP ----- */
.section-help-contact {
    position: relative;
    width: 100%;
    height: 600px;
    background: var(--so-white);
}

.box-wave {
  position: relative;
  width: 550px;
  height: 600px;
  left: -450px;
}

.wave {
  position: absolute;
  opacity: 0.4;
  width: 550px;
  height: 600px;
  border-radius: 43%;
}

.wave.-one {
  animation: rotate 7000ms infinite linear;
  opacity: 0.5;
  background: var(--gradient3);
}

.wave.-two {
  animation: rotate 3000ms infinite linear;
  opacity: 0.2;
  background: var(--gradient3);
}

.wave.-three {
  animation: rotate 7500ms infinite linear;
  background: var(--gradient3);
}

.help-contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 480px;
    top: 10%;
    left: 40%;
}

.section-help-contact h1 {
    font-size: 3rem;
    margin: 25px 0;
}

.section-help-contact p {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 25px;
}

.help-button-contact:hover, .footer-button:hover {
  color: var(--so-white)
}

.help-button-contact, .footer-button {
  background: var(--mightgreen);
  border-radius: 10px;
  color: var(--black);
  height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 120px;
}

.help-button-contact .help-button-span, .footer-button .footer-span {
  align-items: center;
  background: var(--so-white);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.3s ease;
  width: 100%;
}

.help-button-contact:hover .help-button-span, .footer-button:hover .footer-span {
  background: transparent;
}

/* ----- SECTION-RECENT-WORK ----- */
.section-recent-work {
    width: 100%;
    height: 1200px;
    border: 1px solid rgba(25, 26, 30, 0.15);
    background: var(--stealblue);
}

.recent-work-grid {
    width: 100%;
    position: relative;
    height: auto;
    padding: 0 12%;
}

.recent-work-grid .title-work {
    font-family: 'Comfortaa', cursive;
    margin: 30px 0;
    text-align: center;
    color: var(--white);
    font-size: 2.5rem;
}

.grid-layout {
    display: grid;
    grid-template: 350px 350px 350px / 1fr;
    max-width: 300px;
    width: 100%;
    height: 650px;
    margin: 0 auto;
}

.grid-work1, .grid-work2, .grid-work3 {
    margin: 15px;
    height: 300px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15);
    border: solid 1px rgba(255,255,255,.3);
    backdrop-filter: blur(5px);
    cursor: pointer;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}

.grid-work1:after, .grid-work2:after, .grid-work3:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    border-radius: 20px;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all .5s ease;
}

.grid-container {
    width: 100%;
    height: auto;
    padding: 0 10px;
    text-align: center;
    color: var(--white);
}

.grid-container h1 {
    margin: 15px 0;
}

.grid-container p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 20px;
}

.grid-container img {
  border-radius: 10px;
}

/* ----- FOOTER ----- */
footer {
  width: 100%;
  height: 500px;
  background: var(--so-white);
}

.wrapper-footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-footer h3{
  font-size: 1.5rem;
  opacity: .5;
}

.wrapper-footer h2 {
  margin: 25px;
  font-size: 3rem;
}

.wrapper-footer h2 > span {
  background: -webkit-linear-gradient(300deg, #01e2b6 0%, #ff7376 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-footer {
  width: 100%;
  height: 200px;
  background-image: var(--gradient4), url(../images/footer_opt.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block-footer a {
  margin: 10px;
  font-size: 2rem;
  color: var(--so-white);
}

.block-footer p {
  margin: 10px;
  font-size: 1.5rem;
  color: var(--so-white);
  opacity: .5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes out {
    from {
        box-shadow: 0 0 0 -100px var(--so-white); 
    } 
}
  
@keyframes spin {
    to {
        transform: rotate(360deg); 
    } 
}

@keyframes slide-center {
    0% {
      transform: perspective(500px) translateZ(300px);
    }
    100% {
      transform: perspective(500px) translateZ(0);
    }
}

@keyframes scale-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
    .animation-slide-center {
      animation: slide-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .animation-scale-center {
    animation: scale-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}