.logo-container {
    top: 25%;
}
.description-container {
    top: 170px;
}

.help-contact {
    width: 300px;
}

.social-container {
    position: fixed;
    width: 20px;
    height: 160px;
    left: calc(100% - 50px);
    top: 40%;
    z-index: 1;
    mix-blend-mode: difference;
}

.github {
    background: url(../icons/github.svg) center center no-repeat;
    padding: 10px;
}

.codepen {
    background: url(../icons/codepen.svg) center center no-repeat;
    padding: 10px;
}

.linkedin {
    background: url(../icons/linkedin.svg) center center no-repeat;

    padding: 10px;
}

.instagram {
    background: url(../icons/instagram.svg) center center no-repeat;
    padding: 10px;
}

.github, .codepen, .linkedin, .instagram {
    cursor: pointer;
    float: right;
    margin: 10px 0;
    background-size: cover;
}